@charset "utf-8";
/* CSS Document */
H1{ 
   color: #930;
   font-size:36px;
   font:"Times New Roman", Times, serif;
   border-style:double;
}

any{
	color: #C63;
	font-size: 36px;
	text-align:center;
}

dos{
	color: #0C9;
	font-size:18px;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

tres{
	background-color:#C9F;
}


body{
	background-color:#FCF;
}